<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

    * {
      font-family: 'Inter', sans-serif;

    }
  </style>
</head>

<body>
  <table style="width:600px;margin:20px auto;border:1px solid #ccc;padding:20px 20px 35px; text-align: center;">

    <tr>
      <td>
        <div class="logo"><img src="	https://test.pearl-developer.com/welrm/public/images/Logo.png" alt=""></div>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="    font-weight: 700;
        font-size: 22px;
    ">Let's sign you up</h3>
        <span style="
        color: black;
        font-size: 14px;
        margin-bottom: 12px;
        display: block;
        font-weight: 600;
    "> Use this code to sign up to transmit security <br>This code will expire in 20 minutes</span>
      </td>
    </tr>
    <tr>
      <td>
        <div style="    font-size: 30px;
        font-weight: 600;
        margin-block: 10px;">
          <span>5</span>
          <span>5</span>
          <span>5</span>
          <span>5</span>
          <span>5</span>
          <span>5</span>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span style="  font-size: 12px;
        margin-top: 16px;
        color: #919191;
        display: block;
    ">If you didn't requst this email, you can surely ignore it.</span>

      </td>
    </tr>



  </table>
</body>

</html>